

<div class="container-last-section">
  <div class="content-view p-0">
    <div class="body-success">
      <h4 class="description-text">
        Perfect, together we'll build great things!
      </h4>
      <h2>
        The email has been sent, I will get in contact shortly.
      </h2>
      <img
        class="image-send-message"
       src="/images/successEmail3.png" alt="Success_Image"
      />
      <div class="container-button">
        <button class="button btn-contact is-outlined" (click)="goTo('')">
          Continue 
        </button>
      </div>
    </div>
  </div>
</div>