
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  text-align: center;
  color: var(--main-text-color);
}

.info-container {
  max-height: 45rem;
  overflow-y: auto;
  padding: 2rem;
  border-radius: 2rem;
  overflow-x: hidden;
}

.info-section {
  margin-bottom: 3rem;
  padding: 1rem 1.5rem;
}

.info-section h2 {
  font-size: 2.2rem;
  color: var(--main-text-color);
  border-bottom: 3px solid var(--border-bottom);
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  text-align: left;
}

.info-section h3 {
  font-size: 1.6rem;
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--main-text-color);
}

.date {
  font-size: 1rem;
  color: #aaa;
  margin-left: 1rem;
  font-style: italic;
}

/* Styles for the skill section */
.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px 30px;
  padding-left: 0;
}

.skill-item {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--main-text-color);
  margin-bottom: 0.5rem;
}

.skill-item::before {
  content: "•";
  color: var(--info-main-marker);
  font-size: 1.8rem;
  margin-right: 8px;
  display: inline-block;
}


.info-section ul {
  list-style-position: inside;
  padding-left: 5px;
}

.info-section ul li {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
  line-height: 1.6;
  color: var(--main-text-color);
}

.info-section ul li::before {
  content: "•";
  color: var(--info-main-marker);
  font-size: 1.8rem;
  margin-right: 8px;
  display: inline-block;
}

.info-section ul li::marker {
  color: var(--info-main-marker);
  font-size: 1.6rem;
}

/*Adjustment of resolution for smaller screens*/
@media screen and (max-width: 1219px) {
  .info-container {
    max-height: none;
    height: auto;
    overflow: visible;
  }

  .skills-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .info-section h2 {
    border-bottom: 3px solid var(--border-bottom-small);
    
  }
  .info-section ul li::before {
  color: var(--info-main-marker-small);
  
}

  .skill-item::before {
    display: inline-block;
    color: var(--info-main-marker-small);
  }
}