<h1 class="page fade-in">Information here</h1>

<div class="page fade-in">
    <section>
        <div class="basic-info">
            <h1>About Me</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quos doloremque voluptatibus in
                laudantium quisquam dolor quasi ipsa! Atque dolor ullam consequatur earum id vitae, eaque quidem
                molestiae placeat praesentium.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi nihil sint error aperiam itaque! Atque
                minima quisquam dolorum quidem error exercitationem sit molestiae inventore. Eaque veniam tenetur quas
                inventore optio?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam labore saepe doloremque,
                error libero ullam tempore illo nulla, consectetur corporis eligendi voluptatem dolore fuga
                exercitationem at, nihil velit. Veritatis, ab.</p>

        </div>
        <div class="display">
            <h1>CV info here</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quos doloremque voluptatibus in
                laudantium quisquam dolor quasi ipsa! Atque dolor ullam consequatur earum id vitae, eaque quidem
                molestiae placeat praesentium.</p>
        </div>
    </section>
</div>