<h1 class="section-title page fade-in">About my professional experience</h1>

<div class="info-container page fade-in">
  <section class="info-section">
    <h2>Core Skills</h2>
    <div class="skills-container">
      <div class="skill-item">JavaScript</div>
      <div class="skill-item">TypeScript</div>
      <div class="skill-item">HTML</div>
      <div class="skill-item">CSS</div>
      <div class="skill-item">C#</div>
      <div class="skill-item">.NET Core</div>
      <div class="skill-item">Angular</div>
      <div class="skill-item">React</div>
      <div class="skill-item">SQL</div>
      <div class="skill-item">REST API</div>
      <div class="skill-item">Agile methodologies</div>
      <div class="skill-item">Scrum</div>
      <div class="skill-item">Git</div>
      <div class="skill-item">GitHub</div>
      <div class="skill-item">Figma</div>
      <div class="skill-item">Java</div>
      <div class="skill-item">Python</div>
      <div class="skill-item">AWS</div>
    </div>
  </section>
  <section class="info-section">
    <h2>Professional Experience</h2>
    <h3>OM Agency – Full-Stack Developer <span class="date">Oct 2024 - Present</span></h3>
    <ul>
      <li>UI development with Angular, HTML, CSS, JavaScript</li>
      <li>RESTful APIs in C# / ASP.NET Core</li>
      <li>SQL database management</li>
      <li>Version control with Git</li>
      <li>Agile development with Scrum</li>
    </ul>
    <h3>Tek-Experts – Junior Full-Stack Developer <span class="date">Jan 2021 - Oct 2024</span></h3>
    <ul>
      <li>Full-stack development with Node.js, Angular, .NET</li>
      <li>SQL scripting and database design</li>
      <li>Responsive UI/UX development</li>
      <li>Azure and Agile integration</li>
    </ul>
  </section>
  <section class="info-section">
    <h2>Education</h2>
    <ul>
      <li>Software Engineering – Universidad de Costa Rica (2019 - Present)</li>
      <li>Full-Stack Web Development – Code Minds (2024 - 2025)</li>
    </ul>
    <h3>Additional Education</h3>
    <ul>
      <li>Middle Technician in Business Informatics – CTP Jose Figueres Ferrer (2016 - 2018)</li>
      <li>Scrum Master – Agile Education (2021)</li>
      <li>Python Fundamentals – Cisco Networking Academy (2023)</li>
    </ul>
  </section>
</div>