div.display {
    display: inline;
    width: 70%;
    height: 70rem;
    background-color: black;
    border-radius: 3rem;
    transition: 0.2s linear;
}

.page {
  opacity: 0;
  transform: translateY(2rem);
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1338px) {

   .box-info {
  flex: 1 1 10rem;
  max-width: 30rem;
  min-width: 30rem;
  height: 10rem;
}
}