<div class="content-view">
  <div class="container-form">
    <form>
      <div class="row">
        <div class="col-6 col-sm-12 input-container">
       <label for="name">{{ "Name"}}</label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            placeholder=""
            name="name"
          />
         
        </div>
        <div class="col-6 col-sm-12 input-container">
          <label for="email">{{ "Email"}}</label>
          <input
            formControlName="email"
            type="text"
            class="form-control"
            placeholder=""
            name="email"
          />
          
        </div>
      </div>
      <div class="row">
        <div class="col-12 input-container">
<label for="message">{{ "Message"}}</label>
          <textarea
            formControlName="message"
            class="form-control"
            name="message"
            id="message"
            cols="30"
            rows="5"
          ></textarea>
          
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-12 input-container">
        <div class="container-button">
          <button
            class="button btn-contact is-outlined"
            appLoadingBtn
            
          >Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
