.content-view.page {
  position: relative;   
  min-height: 100%;    
}

.container-form {
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.input-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0.75rem;
  box-sizing: border-box;
}

.container-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.btn-contact {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 2rem;
  background-color: var(--highlight-detail);
  border-radius: 9999px;
  border: 2px solid var(--border-clear);
  padding: 0.8rem 80px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn-contact:hover {
  transform: translateY(-0.5rem);
  background-color: var(--highlight-detail-hover);
  color: var(--botton-contact-hover);
}

.w-100 {
  width: 100%;
}

.p-0 {
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

input,
textarea {
  outline: none;
  -webkit-appearance: none;
  align-items: center;
  border: 2px solid var(--border-clear);
  background: var(--box-info-background);
  color: var(--border-clear);
  font-size: 1.6rem;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  justify-content: flex-start;
  padding: calc(0.5em - 1px);
  resize: none;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

textarea {
  max-height: 30rem;
  max-width: 39rem;
  height: 15rem;
  min-height: none;
  min-width: none;
}

.form-control.ng-invalid.ng-dirty {
  border-color: var(--border-danger) !important;
}

:disabled {
  opacity: 0.5 !important;
  cursor: initial;
}

.title {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

label {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.page {
  opacity: 0;
  transform: translateY(2rem);
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1339px),
screen and (max-height: 750px) {

 textarea {
  max-height: none;
  max-width: none;
  height: auto;
  min-height: none;
  min-width: none;
}
}

.page.sending {
  opacity: 0.2; 
  pointer-events: none; 
}


.loading-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background: transparent;
  z-index: 999;
}

.loading-content h2 {
  font-size: 3rem;
  text-align: center;
  color: var(--border-clear);
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0%, 100% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}