.container-form {
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.input-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0.75rem;
  box-sizing: border-box;
}

.container-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.btn-contact {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  background-color: var(--highlight-detail);
  border-radius: 9999px;
  border: 2px solid rgb(219, 219, 219);
  padding: 0.8rem 80px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn-contact:hover {
  transform: translateY(-0.5rem);
  background-color: var(--highlight-detail-hover);
  color: rgb(68, 68, 68);
}

.w-100 {
  width: 100%;
}

.p-0 {
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

input,
textarea {
  outline: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid #dbdbdb;
  font-size: 1.2rem;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  justify-content: flex-start;
  padding: calc(0.5em - 1px);
}

.form-control.ng-invalid.ng-dirty {
  border-color: red !important;
}

:disabled {
  opacity: 0.5 !important;
  cursor: initial;
}