body.dark {
  /* LAYOUT */
  --top-bar-background: #303030;
  --body-background: #242424;
  --main-text-color: #fff;
  --main-hover-background: rgba(255, 255, 255, 0.1);
  --main-active-background: rgba(0, 0, 0, 0.096);
  --main-border-hover-background: lab(55.55% -20.57 -13.09);
  --color-scrollbar-light: rgba(65, 65, 65, 0.178);

  --info-main-section: lab(36.38% -15.5 -7.45);
  --info-main-dysplay: lab(28.88% -12.81 -6.05);

  --highlight-detail: #0FC2C0;
  --highlight-detail-hover: #0bf1ee;

  --border-clear: #d8d8d8;
  --border-danger: #a30e0e;

  /* POSTS */
  --post-list-item-background: #444444;

 body.dark {
  --top-bar-background: #303030;
  --body-background: #242424;
  --main-text-color: #fff;

  /* Three.js waves */
  --wave-color: #0FC2C0;
  --three-bg-opacity: 0.6;
}

  /*CONTACT*/
  --box-info-background: #2a2a2a;
  --contact-hover: rgb(68, 68, 68);
  --box-info-border: rgba(255, 255, 255, 0.2);

  /*markers of test like li's into ul's*/
  --info-main-marker: lab(53.22% -21.37 -9.68);
  --info-main-marker-small: lab(45.2% -18.13 -8.8);

  /*buttom line under titles*/
  --border-bottom: lab(36.38% -15.5 -7.45);
  --border-bottom-small: lab(45.2% -18.13 -8.8);
}