.top-bar {
   height: 7rem;
   padding: 1rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: var(--top-bar-background);
   transition: 0.2s linear;
}

ul {
   display: flex;
   align-items: center;
   gap: 1rem;
}

a {
   text-decoration: none;
   font-size: 1.5rem;
   font-weight: 600;
   display: inline-block;
   padding: 1rem;
   border-radius: 0.2rem;
   transition: background-color 0.2s linear;
   border-color: var(--main-layout-border-bottom);
   transition: 0.2s linear;
}

button {
   border: 0;
   padding: 1rem;
   font-size: 1.8rem;
   border-radius: 0.2rem;
   background: none;
   color: var(--main-text-color);
   transition: background-color 0.2s linear;
}

a:hover, a.active, button:hover {
   background: var(--main-hover-background);
}

figure {
   height: 100%;
}

figure img {
   height: 100%;
   width: auto;
}

main {
   padding: 2rem;
}

section {
    display:flex;
    justify-content: center;
    padding: 0rem 0rem;
    border-radius: 3rem;
    border-width: 0.5rem;
    background-color: var(--info-main-section);
    height: 70rem;
    width: 120rem;
    transition: 0.2s linear;
}

div.display {
    display: inline;
    width: 70%;
    height: 70rem;
    background-color: var(--info-main-dysplay);
    border-radius: 3rem;
    transition: 0.2s linear;
}

.display {
    padding: 2rem;
    text-align: center;
}

div.basic-info {
    display: inline;
    float: left;
    width: 30%;
    height: 70rem;
}


div {
    justify-content: center;
    display:flex;
    padding: 4rem 7rem;
}

#main_img {
  border: 0.5rem solid white;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#main_img img {
  max-width: 100%;
  height: auto;
  display: block;
  background-color: red;
}
.page {
  opacity: 0;
  transform: translateY(2rem);
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media screen and (max-with: 1024px) {

.top-bar {
   position: absolute;
   background: white;
}
   
}
