<h1 class="page">Contact Info</h1>
<div class="contact-details page">
    <div class="box-info">
        <span class="material-icons-sharp">location_on</span>
        <p>San Jose, Costa Rica</p>
    </div>
    <div class="box-info">
        <span class="material-icons-sharp">call</span>
        <p>+506 87836716</p>
    </div>
    <div class="box-info">
        <span class="material-icons-sharp">mail</span>
        <p>diego.andres6716&#64;gmail.com</p>
    </div>
    <div class="box-info">
        <span class="material-icons-sharp">check</span>
        <p>Full-Stack Developer</p>
    </div>
</div>



