<h1 class="page fade-in">Contact me</h1>

<div class="page fade-in">
    <section>
        <div class="contact-info">
            <h1>About Me</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quos doloremque voluptatibus in
                laudantium quisquam dolor quasi ipsa! Atque dolor ullam consequatur earum id vitae, eaque quidem
                molestiae placeat praesentium.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi nihil sint error aperiam itaque! Atque
                minima quisquam dolorum quidem error exercitationem sit molestiae inventore. Eaque veniam tenetur quas
                inventore optio?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam labore saepe doloremque,
                error libero ullam tempore illo nulla, consectetur corporis eligendi voluptatem dolore fuga
                exercitationem at, nihil velit. Veritatis, ab.</p>
        </div>
        <div class="display">
             <h1>Contact Info</h1>
            <div class="contact-details">
                <div class="box-info">
                    <span class="material-icons-sharp">location_on</span>
                    <p>San Jose, Costa Rica</p>
                </div>
                <div class="box-info">
                    <span class="material-icons-sharp">call</span>
                    <p>+506 87836716</p>
                </div>
                <div class="box-info">
                    <span class="material-icons-sharp">mail</span>
                    <p>diego.adres6716&#64;gmail.com</p>
                </div>
                <div class="box-info">
                    <span class="material-icons-sharp">check</span>
                    <p>Full-Stack Developer</p>
                </div>
            </div>
            
        </div>
    </section>
</div>
