@import './styles/reset.css';
@import './styles/theme-dark.css';
@import './styles/theme-light.css';

html {
   font-size: 10px;
   height: 100%;
}

body {
   background: var(--body-background);
   background-image: var(--background-image-url);
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-position: center;

   font-family: 'Roboto', Helvetica, sans-serif;
   font-size: 1.4rem;
   color: var(--main-text-color);
   scrollbar-color: var(--color-scrollbar-light) transparent;
   
   scrollbar-width: thin;
   transition: 0.2s linear;
}



h1 {
   font-weight: bold;
   font-size: 4rem;
   margin-bottom: 1.5rem;
}

h4 {
   font-weight: bold;
   font-size: 2.2rem;
   margin-bottom: 1rem;
}


@media screen and (max-height: 750px), screen and (max-width: 1339px){

   body {
      
      background-image: none;

   }

   
}


@media screen and (max-height: 600px), screen and (max-width: 900px){

   html {
   font-size: 8px;
   height: 100%;
}

   
}

