@import './styles/reset.css';
@import './styles/theme-dark.css';
@import './styles/theme-light.css';

html {
   font-size: 10px;
   height: 100%;
}

body {

   background: var(--body-background);
   background-image: var(--background-image-url);
   background-size: 100% 100%;
   /* 🔧 Forzar deformación */
   background-repeat: no-repeat;
   background-position: center;

   font-family: 'Roboto', Helvetica, sans-serif;
   font-size: 1.4rem;
   color: var(--main-text-color);
   scrollbar-color: var(--color-scrollbar-light) var(--color-scrollbar-light);
   scrollbar-width: thin;
   transition: 0.2s linear;
}

body::-webkit-scrollbar-thumb {
   background: var(--color-scrollbar-light);
}

body::-webkit-scrollbar {
   width: 0.7rem;
   background: var(--color-scrollbar-light);
}

h1 {
   font-weight: bold;
   font-size: 4rem;
   margin-bottom: 1.5rem;
}

h4 {
   font-weight: bold;
   font-size: 2.2rem;
   margin-bottom: 1rem;
}

@media screen and (max-with: 1024px) {

   
}